@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&family=Space+Grotesk:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.navbar {
    background: #AFEB8F;
}

.nav-link {
    color: #00558C;
    font-size: 1.2rem;
}

.carousel-item {
    padding: 5rem;
}

.carousel-bg-1 {
    background-color: #00558C;
    color: #FFF;
}

.carousel-bg-2 {
    background-color: #008C52;
    color: #FFF;
}

.carousel-bg-3 {
    background-color: #8C3800;
    color: #FFF;
}

.carousel-title {
    font-family: 'Space Grotesk', sans-serif;
}

.clr-h2 {
    color: #002F7B;
    background-color: #00BF63;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 500ms;
}

.clr-h2:hover {
    color: #FFF;
}

.adventure-bg {
    background-image: url(img/gallery-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-transparent {
    background-color: #008C52;
    border-radius: 0.3rem;
}

@media (max-width: 992px) {
    .bottom-gap {
        margin-bottom: 1rem;
    }

    #bg-transparent {
        background-color: transparent;
        border-radius: 0;
    }

    .form-bg {
        background-color: #008C52;
        border-radius: 0.3rem;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        text-align: center;
        padding: 3rem;
    }

    .carousel-bottom-gap {
        margin-bottom: 2.5rem;
    }

    .mid-bottom-gap {
        margin-bottom: 1rem;
    }

    .about-bottom-gap {
        margin-bottom: 2rem;
    }

    .about-bottom-gap img {
        margin: 0 auto;
    }

    .img-cen {
        margin: 0 auto;
    }
}

.new-button {
    position: relative;
    overflow: hidden;
    color: #002F7B;
    background-color: transparent;
    border: 2px solid #002F7B;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    transition: 0.3s;
    z-index: 1;
}

.new-button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #002F7B;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.new-button:hover::before {
    width: 105%;
}

.new-button:hover {
    color: #AFEB8F;
}

.mi-line {
    color: #00558C;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}

.mi-line:before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #008C52;
    left: 0;
    top: 50%;
    position: absolute;
}

.mi-line:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #008C52;
    right: 0;
    top: 50%;
    position: absolute;
}

@media (max-width: 500px) {
    .mi-line:before {
        width: 75px;
    }

    .mi-line:after {
        width: 75px;
    }
}
